<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ABC University</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="..\css\main.css">
	<link rel="stylesheet" href="..\css\custom\css\font-awesome.min.css">
</head>
<body>
	<!-- header -->
	<div class="header">
		<div class="header-logo">
			<div class="header-title">EXAM REGISTER</div>
		</div>
		<div class="header-right">
			<div class="language-box">
				<select>
					<option selected>Tiếng việt(Tiếng việt)</option>
					<option>Tiếng Anh(English)</option>
				</select>
			</div>
			<div class="notification">

				<i class="fa fa-globe" style="font-size:24px">
					<div class="number-notification">3</div>
				</i>
			</div>
			<button class="user-bar">
				<i class="fa fa-user-circle" aria-hidden="true" style="font-size: 24px"></i>
				<span>Lê Tuấn Anh</span>
			</button>
		</div>
	</div>
	<!-- menu -->
	<div class="menu">
		<div class="menu-bar">
			<ul>
				<li>
					<button>
						<i class="fa fa-user-circle-o" aria-hidden="true"></i>
						Học phần của bạn
					</button>
				</li>
				<li>
					<button>
						<i class="fa fa-list-alt" aria-hidden="true"></i>
						Danh sách ca thi đã đăng ký
					</button>
				</li>
				<li>
					<button>
						<i class="fa fa-print" aria-hidden="true"></i>
						In kết quả đăng ký
					</button>
				</li>
				<li>
					<button>
						<i class="fa fa-life-ring" aria-hidden="true"></i>
						Giúp đỡ
					</button>
				</li>
			</ul>
		</div>
	</div>
	<!-- content -->
	<div class="content">
		<div class="grid">
			<div class="toolbar">
				<div class="function-bar">
					<button><i class="fa fa-refresh" aria-hidden="true"></i>Làm mới</button>
					<button><i class="fa fa-eye-slash" aria-hidden="true"></i>Ẩn</button>
				</div>
				<div class="search-bar">
					<input type="text" placeholder="Tìm học phần" />
					<button><i class="fa fa-search" aria-hidden="true"></i></button>
				</div>
			</div>
			<div class="content-grid">
				<!-- filter -->
				<div class="filter">
					<div class="filter-item">
						Tên sinh viên
						<div class="filter-input">
							<input type="text"/>
							<button><i class="fa fa-filter" aria-hidden="true" font-size="24px"></i></button>
						</div>
					</div>
					<div class="filter-item">
						Mã số sinh viên
						<div class="filter-input">
							<input type="text"/>
							<button><i class="fa fa-filter" aria-hidden="true" font-size="24px"></i></button>
						</div>
					</div>
					<div class="filter-item">
						Mã môn học
						<div class="filter-input">
							<input type="text"/>
							<button><i class="fa fa-filter" aria-hidden="true" font-size="24px"></i></button>
						</div>
					</div>
					<div class="filter-item">
						Tên môn học
						<div class="filter-input">
							<input type="text"/>
							<button><i class="fa fa-filter" aria-hidden="true" font-size="24px"></i></button>
						</div>
					</div>
					<div class="filter-item">
						Ngày thi
						<div class="filter-input">
							<input type="text"/>
							<button><i class="fa fa-calendar" aria-hidden="true" font-size="24px"></i></button>
						</div>
					</div>
					<div class="filter-item">
						Ca thi
						<div class="filter-input">
							<input type="text"/>
							<button><i class="fa fa-clock-o" aria-hidden="true" font-size="24px"></i></button>
						</div>
					</div>
				</div>
				<!-- content -->
				<div class="content-list">
					<div class="content-list-item">
						<div class="left-item">
							<div class="subject-title">
								<h3>Hệ quản trị cơ sở dữ liệu</h3>
								<h3>(INT3202)</h3>
							</div>
							<div class="time">
								<div class="date">29/12/2019</div>
								&nbsp;
								<div class="time-detail">8:00AM</div>
								&nbsp;
								<div class="shift">(ca 1)</div>
							</div>
							<div class="room">
								202-G2
								<div class="room-status">(23/30)</div>
							</div>
						</div>
						<div class="right-item">
							<i class="fa fa-plus" aria-hidden="true" font-size="36px"></i>
						</div>
					</div>
					<div class="content-list-item">
						<div class="left-item">
							<div class="subject-title">
								<h3>Hệ quản trị cơ sở dữ liệu</h3>
								<h3>(INT3202)</h3>
							</div>
							<div class="time">
								<div class="date">29/12/2019</div>
								&nbsp;
								<div class="time-detail">8:00AM</div>
								&nbsp;
								<div class="shift">(ca 1)</div>
							</div>
							<div class="room">
								202-G2
								<div class="room-status">(23/30)</div>
							</div>
						</div>
						<div class="right-item">
							<i class="fa fa-plus" aria-hidden="true" font-size="36px"></i>
						</div>
					</div>
					<div class="content-list-item">
						<div class="left-item">
							<div class="subject-title">
								<h3>Hệ quản trị cơ sở dữ liệu</h3>
								<h3>(INT3202)</h3>
							</div>
							<div class="time">
								<div class="date">29/12/2019</div>
								&nbsp;
								<div class="time-detail">8:00AM</div>
								&nbsp;
								<div class="shift">(ca 1)</div>
							</div>
							<div class="room">
								202-G2
								<div class="room-status">(23/30)</div>
							</div>
						</div>
						<div class="right-item">
							<i class="fa fa-plus" aria-hidden="true" font-size="36px"></i>
						</div>
					</div>
					<div class="content-list-item">
						<div class="left-item">
							<div class="subject-title">
								<h3>Hệ quản trị cơ sở dữ liệu</h3>
								<h3>(INT3202)</h3>
							</div>
							<div class="time">
								<div class="date">29/12/2019</div>
								&nbsp;
								<div class="time-detail">8:00AM</div>
								&nbsp;
								<div class="shift">(ca 1)</div>
							</div>
							<div class="room">
								202-G2
								<div class="room-status">(23/30)</div>
							</div>
						</div>
						<div class="right-item">
							<i class="fa fa-plus" aria-hidden="true" font-size="36px"></i>
						</div>
					</div>
					<div class="content-list-item">
						<div class="left-item">
							<div class="subject-title">
								<h3>Hệ quản trị cơ sở dữ liệu</h3>
								<h3>(INT3202)</h3>
							</div>
							<div class="time">
								<div class="date">29/12/2019</div>
								&nbsp;
								<div class="time-detail">8:00AM</div>
								&nbsp;
								<div class="shift">(ca 1)</div>
							</div>
							<div class="room">
								202-G2
								<div class="room-status">(23/30)</div>
							</div>
						</div>
						<div class="right-item">
							<i class="fa fa-plus" aria-hidden="true" font-size="36px"></i>
						</div>
					</div>
					<div class="content-list-item">
						<div class="left-item">
							<div class="subject-title">
								<h3>Hệ quản trị cơ sở dữ liệu</h3>
								<h3>(INT3202)</h3>
							</div>
							<div class="time">
								<div class="date">29/12/2019</div>
								&nbsp;
								<div class="time-detail">8:00AM</div>
								&nbsp;
								<div class="shift">(ca 1)</div>
							</div>
							<div class="room">
								202-G2
								<div class="room-status">(23/30)</div>
							</div>
						</div>
						<div class="right-item">
							<i class="fa fa-plus" aria-hidden="true" font-size="36px"></i>
						</div>
					</div>
					<div class="content-list-item">
						<div class="left-item">
							<div class="subject-title">
								<h3>Hệ quản trị cơ sở dữ liệu</h3>
								<h3>(INT3202)</h3>
							</div>
							<div class="time">
								<div class="date">29/12/2019</div>
								&nbsp;
								<div class="time-detail">8:00AM</div>
								&nbsp;
								<div class="shift">(ca 1)</div>
							</div>
							<div class="room">
								202-G2
								<div class="room-status">(23/30)</div>
							</div>
						</div>
						<div class="right-item">
							<i class="fa fa-plus" aria-hidden="true" font-size="36px"></i>
						</div>
					</div>
					<div class="content-list-item">
						<div class="left-item">
							<div class="subject-title">
								<h3>Hệ quản trị cơ sở dữ liệu</h3>
								<h3>(INT3202)</h3>
							</div>
							<div class="time">
								<div class="date">29/12/2019</div>
								&nbsp;
								<div class="time-detail">8:00AM</div>
								&nbsp;
								<div class="shift">(ca 1)</div>
							</div>
							<div class="room">
								202-G2
								<div class="room-status">(23/30)</div>
							</div>
						</div>
						<div class="right-item">
							<i class="fa fa-plus" aria-hidden="true" font-size="36px"></i>
						</div>
					</div>
					<div class="content-list-item">
						<div class="left-item">
							<div class="subject-title">
								<h3>Hệ quản trị cơ sở dữ liệu</h3>
								<h3>(INT3202)</h3>
							</div>
							<div class="time">
								<div class="date">29/12/2019</div>
								&nbsp;
								<div class="time-detail">8:00AM</div>
								&nbsp;
								<div class="shift">(ca 1)</div>
							</div>
							<div class="room">
								202-G2
								<div class="room-status">(23/30)</div>
							</div>
						</div>
						<div class="right-item">
							<i class="fa fa-plus" aria-hidden="true" font-size="36px"></i>
						</div>
					</div>
					<div class="content-list-item">
						<div class="left-item">
							<div class="subject-title">
								<h3>Hệ quản trị cơ sở dữ liệu</h3>
								<h3>(INT3202)</h3>
							</div>
							<div class="time">
								<div class="date">29/12/2019</div>
								&nbsp;
								<div class="time-detail">8:00AM</div>
								&nbsp;
								<div class="shift">(ca 1)</div>
							</div>
							<div class="room">
								202-G2
								<div class="room-status">(23/30)</div>
							</div>
						</div>
						<div class="right-item">
							<i class="fa fa-plus" aria-hidden="true" font-size="36px"></i>
						</div>
					</div>
					<div class="content-list-item">
						<div class="left-item">
							<div class="subject-title">
								<h3>Hệ quản trị cơ sở dữ liệu</h3>
								<h3>(INT3202)</h3>
							</div>
							<div class="time">
								<div class="date">29/12/2019</div>
								&nbsp;
								<div class="time-detail">8:00AM</div>
								&nbsp;
								<div class="shift">(ca 1)</div>
							</div>
							<div class="room">
								202-G2
								<div class="room-status">(23/30)</div>
							</div>
						</div>
						<div class="right-item">
							<i class="fa fa-plus" aria-hidden="true" font-size="36px"></i>
						</div>
					</div>
					<div class="content-list-item">
						<div class="left-item">
							<div class="subject-title">
								<h3>Hệ quản trị cơ sở dữ liệu</h3>
								<h3>(INT3202)</h3>
							</div>
							<div class="time">
								<div class="date">29/12/2019</div>
								&nbsp;
								<div class="time-detail">8:00AM</div>
								&nbsp;
								<div class="shift">(ca 1)</div>
							</div>
							<div class="room">
								202-G2
								<div class="room-status">(23/30)</div>
							</div>
						</div>
						<div class="right-item">
							<i class="fa fa-plus" aria-hidden="true" font-size="36px"></i>
						</div>
					</div>
					<div class="content-list-item">
						<div class="left-item">
							<div class="subject-title">
								<h3>Hệ quản trị cơ sở dữ liệu</h3>
								<h3>(INT3202)</h3>
							</div>
							<div class="time">
								<div class="date">29/12/2019</div>
								&nbsp;
								<div class="time-detail">8:00AM</div>
								&nbsp;
								<div class="shift">(ca 1)</div>
							</div>
							<div class="room">
								202-G2
								<div class="room-status">(23/30)</div>
							</div>
						</div>
						<div class="right-item">
							<i class="fa fa-plus" aria-hidden="true" font-size="36px"></i>
						</div>
					</div>
					<div class="content-list-item">
						<div class="left-item">
							<div class="subject-title">
								<h3>Hệ quản trị cơ sở dữ liệu</h3>
								<h3>(INT3202)</h3>
							</div>
							<div class="time">
								<div class="date">29/12/2019</div>
								&nbsp;
								<div class="time-detail">8:00AM</div>
								&nbsp;
								<div class="shift">(ca 1)</div>
							</div>
							<div class="room">
								202-G2
								<div class="room-status">(23/30)</div>
							</div>
						</div>
						<div class="right-item">
							<i class="fa fa-plus" aria-hidden="true" font-size="36px"></i>
						</div>
					</div>
					<div class="content-list-item">
						<div class="left-item">
							<div class="subject-title">
								<h3>Hệ quản trị cơ sở dữ liệu</h3>
								<h3>(INT3202)</h3>
							</div>
							<div class="time">
								<div class="date">29/12/2019</div>
								&nbsp;
								<div class="time-detail">8:00AM</div>
								&nbsp;
								<div class="shift">(ca 1)</div>
							</div>
							<div class="room">
								202-G2
								<div class="room-status">(23/30)</div>
							</div>
						</div>
						<div class="right-item">
							<i class="fa fa-plus" aria-hidden="true" font-size="36px"></i>
						</div>
					</div>
					<div class="content-list-item">
						<div class="left-item">
							<div class="subject-title">
								<h3>Hệ quản trị cơ sở dữ liệu</h3>
								<h3>(INT3202)</h3>
							</div>
							<div class="time">
								<div class="date">29/12/2019</div>
								&nbsp;
								<div class="time-detail">8:00AM</div>
								&nbsp;
								<div class="shift">(ca 1)</div>
							</div>
							<div class="room">
								202-G2
								<div class="room-status">(23/30)</div>
							</div>
						</div>
						<div class="right-item">
							<i class="fa fa-plus" aria-hidden="true" font-size="36px"></i>
						</div>
					</div>
					<div class="content-list-item">
						<div class="left-item">
							<div class="subject-title">
								<h3>Hệ quản trị cơ sở dữ liệu</h3>
								<h3>(INT3202)</h3>
							</div>
							<div class="time">
								<div class="date">29/12/2019</div>
								&nbsp;
								<div class="time-detail">8:00AM</div>
								&nbsp;
								<div class="shift">(ca 1)</div>
							</div>
							<div class="room">
								202-G2
								<div class="room-status">(23/30)</div>
							</div>
						</div>
						<div class="right-item">
							<i class="fa fa-plus" aria-hidden="true" font-size="36px"></i>
						</div>
					</div>
					<div class="content-list-item">
						<div class="left-item">
							<div class="subject-title">
								<h3>Hệ quản trị cơ sở dữ liệu</h3>
								<h3>(INT3202)</h3>
							</div>
							<div class="time">
								<div class="date">29/12/2019</div>
								&nbsp;
								<div class="time-detail">8:00AM</div>
								&nbsp;
								<div class="shift">(ca 1)</div>
							</div>
							<div class="room">
								202-G2
								<div class="room-status">(23/30)</div>
							</div>
						</div>
						<div class="right-item">
							<i class="fa fa-plus" aria-hidden="true" font-size="36px"></i>
						</div>
					</div>
					<div class="content-list-item">
						<div class="left-item">
							<div class="subject-title">
								<h3>Hệ quản trị cơ sở dữ liệu</h3>
								<h3>(INT3202)</h3>
							</div>
							<div class="time">
								<div class="date">29/12/2019</div>
								&nbsp;
								<div class="time-detail">8:00AM</div>
								&nbsp;
								<div class="shift">(ca 1)</div>
							</div>
							<div class="room">
								202-G2
								<div class="room-status">(23/30)</div>
							</div>
						</div>
						<div class="right-item">
							<i class="fa fa-plus" aria-hidden="true" font-size="36px"></i>
						</div>
					</div>
					<div class="content-list-item">
						<div class="left-item">
							<div class="subject-title">
								<h3>Hệ quản trị cơ sở dữ liệu</h3>
								<h3>(INT3202)</h3>
							</div>
							<div class="time">
								<div class="date">29/12/2019</div>
								&nbsp;
								<div class="time-detail">8:00AM</div>
								&nbsp;
								<div class="shift">(ca 1)</div>
							</div>
							<div class="room">
								202-G2
								<div class="room-status">(23/30)</div>
							</div>
						</div>
						<div class="right-item">
							<i class="fa fa-plus" aria-hidden="true" font-size="36px"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer -->
	<div class="footer">
		<div class="profile">
			<div class="profile-title">ABC University Exam Register</div>
			<div class="address">
				<span><strong>Email:</strong>ABCUni@gmail.com</span><br>
				<span><strong>Address:</strong> 1600 Pennsylvania NW tại Washington, D.C.</span><br>
				<span><strong>Hotline:</strong> 1900 8888</span><br>
			</div>
		</div>
		<div class="contact">
			<div class="contact-us">Contact us</div>
			<div class="list-icon">
				<button class="icon"><i class="fa fa-facebook-official" aria-hidden="true" font-size="36px"></i></button>
				<button class="icon"><i class="fa fa-instagram" aria-hidden="true"></i></button>
				<button class="icon"><i class="fa fa-google" aria-hidden="true"></i></button>
				<button class="icon"><i class="fa fa-twitter" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
</body>
</html>