*{
	margin:0;
	padding:0;
}

/*header*/
.header{
	position:absolute;
	background-color: red;
	top:0;
	left: 0;
	right:0;
	height: 60px; 
}
/*menu*/
.menu{
	position: absolute;
	background-color: blue;
	top:60px;
	width:300px;
	left:0;
	bottom:0;
}

/*content*/
.content{
	position: absolute;
	background-color: green;
	top:60px;
	left:300px;
	bottom:0;
	right:0;
}